<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<script>
		let page_suffix = "meals";

		{{>navcode}}
	</script>
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header }}
			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>Meals</h1>
							<ul id="foods">
								{{#each featured_meals}}
									<li>
										<h2><a href="{{this.link1}}">{{this.title}}</a></h2>
										<div class="infos">
											<a href="{{this.link2}}"><img src="images/{{this.image}}" alt="Img" height="169" width="780"><span class="cover"></span></a>
											<p>
												<span>{{this.pitch}}</span> {{this.description}}
											</p>
										</div>
									</li>
								{{/each}}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{> footer }}
	</div>
	{{>shownavcode}}
</body>
</html>