<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<script>
		let page_suffix = "rooms";

		{{>navcode}}
	</script>
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header}}
			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>Rooms</h1>
							<ul id="rooms">
								{{#each accomodations}}
									<li>
										<a href="/rooms"><img src="images/{{this.image_name}}" alt="Img"></a>
										<h2><a href="/rooms">{{this.name}}</a></h2>
										{{{this.description}}}
										<span class="rate">Rate: {{this.rate}} / Day</span>
									</li>
								{{/each}}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{> footer }}
	</div>	
	{{>shownavcode}}
</body>
</html>